{% extends "__layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row rownone">
        <div class="col-7 rowblack">
            <p><h1>Автор</h1></p>
            <p>Ну я вот автор вроде. Не знаю даже, что написать…</p>
            <p>Меня зовут Ира  („• ֊ •„) как-то так. Исходя из темы сайта наверно уже понятно, что «Время Приключений» занимает частичку в моем сердце ( даже не частичку, а ЧАСТИЩЕ). Поэтому я подумала, что своим сайтом я смогу завербовать кого-то в данный культ (что?)…Ладно, это не секта, просто я слегка намекаю, что мультик прикольный, и вы не пожалеете, если вы его глянете (〃＾▽＾〃). </p>
            <p class="add"><img src="/static/static_about_author/я очень старалась.gif" width="400px" height="200px" alt="я очень старалась"></p>
            <p class="add"><em>Так выглядел процесс создания сайта (я очень старалась)</em></p>
            <a href="http://kaomoji.ru/"><em>*Кстати, классный сайт с каомодзи</em></a>
        </div>
        <div class="col-5 rowlight">
            <p><h1>Полезные ссылки</h1></p>
            &nbsp;&nbsp;&nbsp;
            <p class="add"><a href="https://adventuretime.ru/?ysclid=lbdoxwsjpy179582527"><em>Тут удобно серии смотреть</em></a></p>
            &nbsp;&nbsp;&nbsp;
            <p class="add"><a href="https://adventuretime.fandom.com/wiki/Adventure_Time_Wiki"><em>Фандом с кучей интересной информации</em></a></p>
            &nbsp;&nbsp;&nbsp;
            <p class="add"><a href="https://2x2tv.ru/"><em>Тут можно найти прикольные статьи</em></a></p>
            &nbsp;&nbsp;&nbsp;
            <p class="add"><a href="https://com-x.life/10685-adventure-time-beginning-of-the-end-vremja-prikljuchenij-nachalo-konca.html"><em>Тут можно комиксы почитать</em></a></p>
        </div>
    </div>
</div>

{% endblock %}
