{% extends "__layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row rowlight">
        <div class="col-12 text-center">
            <h1>Глоссарий</h1>
        </div>
        <div class="col-12">
            <h3>Персоналии</h3>
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Аврaaм Линкольн">Аврaaм Линкольн</strong> — Король Марса.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Бетти Гроф">Бетти Гроф</strong> — была невестой Саймона Петрикова, до того как корона начала менять его тело и разум, и он стал Ледяным Королём. Когда Петриков надел корону в первый раз, он сильно напугал Бетти, заставив её убежать.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Бог Тусовок">Бог Тусовок</strong> - Это большая, парящая в воздухе голова волка, которая носит бейсболку на правое ухо. Бог Тусовок, что становится ясно из его имени, есть бог веселья, праздников, вечеринок. Он буквально всегда празднует, может заявиться на вечеринки без приглашения. Кажется, он чувствует, что его долг заключается в продолжении вечеринок. 
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Гантер">Гантер, также Гюнтер</strong> — это пингвин, который чаще всех остальных сопровождает Ледяного Короля. Ледяной Король держит Гюнтера как домашнего животного и слугу, в то время как остальные пингвины являются для него кем-то вроде рабов. В реальности, Гюнтер — это древнее космическое божество, известное как Оргалорг, известный также как Разрушитель Миров.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="ГОЛБ">ГОЛБ</strong> — межпространственное божество отрицательной, хаотической полярности, обладающее огромной деструктивной силой. Это большое красное существо с четырьмя жёлтыми с зеленым зрачком гигантскими глазами. У него большой фиолетовый язык с зубами и дёснами. Его голова состоит из двух геометрических фигур: куба и пирамиды. На нижний части головы расположены не большие шипы. На конечностях по 2 пальца. Он сидит посреди витающих вокруг него зелёных фигур и множества версий Финна, вечно ведущих с ним борьбу в чёрном пространстве.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Гроб Гоб Глоб Грод">Гроб Гоб Глоб Грод</strong> — человекоподобный марсианин и четырёхликое божество с Марса. Старший брат Волшебного Чела. 
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Деревяшка">Деревяшка</strong> — жёлто-зелёная слониха размером с карликовую свинью. Благодаря мягкому «домашнему» характеру воспринимается как бабушка Финна и Джейка. Живёт в розовом домике в лесной чаще. Обожает яблоки и умеет готовить вкуснейшие яблочные пироги.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Джейк">Джейк</strong> — это гибрид собаки и Перевёртыша (инопланетного монстра), постоянный компаньон, лучший друг и сводный брат Финна. Джейк еще с "пелёнок" может волшебным образом растягиваться и принимать различные формы. Эта способность множество раз помогала в их с Финном приключениях.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Джошуа">Джошуа</strong> — пёс, отец Джейка и Джермейна. Он и его жена Маргарет усыновили маленького Финна. Джошуа говорит с американским акцентом 1940-х годов. Джошуа очень похож на Джейка, за исключением того,что его мех более темного желтого цвета, по сравнению с сыном. 
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Волшебный чел">Король чел (ранее известен как Волшебный чел, Нормальный чел)</strong> — человекоподобный марсианин с зелёной кожей, в прошлом был злым волшебником, который в наказание за преступления на Марсе был выслан в Земли Ууу на 200 лет. В настоящее время утратил свою магию и стал новым правителем марсиан.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Леди Ливнерог">Леди Ливнерог</strong> — гибрид радуги и единорога. Она подруга и транспорт Принцессы Жвачки, а также девушка Джейка и иногда сопровождает его с Финном в их приключениях. Она говорит исключительно по-корейски, переходя на русский только в случаях когда к ней подключён автоматический переводчик, либо в отдельных фразах.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Лич">Лич</strong>- это сильное, источающие ауру смерти и гнили, бессмертное некротическое создание, олицетворяющее собой смерть всех вещей. Он — древнее космическое существо, дух которого существовал на Земле за миллионы лет до начала истории мультсериала через Комету-катализатор. Он впервые обрёл физическую форму в конце Грибной войны через "мутагенную бомбу" после того, как он захватил тело какого-то человека, погружённого в мутагенные отходы. 
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Маргарет">Маргарет</strong> - мать Джейка и Джермейна и приёмная мать Финна. Она, вместе с Джошуа, нашла маленького кричащего в лесу Финна и позже усыновили его. Внешне практически идентична Джейку, за исключением довольно длинных ресниц. Маргарет - заботливая и любящая мать. Как сказал Финн: "Маргарет всегда знала "что сказать", когда её дети грустили".
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Марглс">Марглс</strong> — марсианская женщина, которая была женой Волшебного чела. Как он сам говорил: "её забрал ГОЛБ", что и стало причиной дальнейших злодеяний Волшебного чела (теперь Короля чела).
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Мозеф Мастро Джованни">Мозеф "Мо" Мастро Джованни</strong> — старик-учёный, который основал корпорацию "MO Ко." и создал БиМО и других МО. Он сказал, что БиМО был создан для заботы о его сыне, но Мо так и не смог создать семью. Отвечая Финну, человек ли он, сказал, что его кожа человеческая. Когда-то он был человеком, как Финн, но от старости большинство частей его тела были заменены роботами — искусственными органами. Иными словами, он — киборг.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Оргалорг">Оргалорг</strong> — это древняя космическая сущность, правитель Солнечной системы и разрушитель миров. Находясь в поисках новой силы для своих злодеяний, Оргалорг решает поглотить комету-катализатор и впитать её силу.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Пламенная Принцесса">Пламенная Принцесса</strong> — принцесса и правительница Огненного Королевства. Она вторая наиболее часто появляющаяся принцесса в сериале после Принцессы Жвачки.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Принцесса Бубльгум">Принцесса Бубльгум (Принцесса Жвачка)</strong> — одна из главных персонажей Времени Приключений, что впервые появилась в пилотном эпизоде. Она учёный и правительница Конфетного королевства. Является текущей реинкарнацией Конфетного элементаля, что правит народом разумных сладостей, что буквально состоят из разновидностей десертов и конфет. Сама Принцесса Жвачка является потомком генномодифицированной жвачной массы с собственным разумом, образовавшейся во время Войны Грибов.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Принцесса Пупырчатого Королевства">Принцесса Пупырчатого Королевства (сокращенно ППК и Пупырка ), также известна как Принцесса Пупырка</strong> — дочь Королевы и Короля Пупырчатого королевства. ППК поведением напоминает испорченного подростка. Она очень вспыльчивая. Потакая всем своим прихотям, она успокаивает себя фразой: "Такая принцесса заслуживает этого". Ее редко мучают угрызения совести, однако в некоторых эризодах можно увидеть, что она все же способна сожалеть и сострадать.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Ледяной_Kороль">Снежный Король (иногда Ледяной Kороль, Саймон Петриков)</strong> — один из главных персонажей Времени Приключений, бывший главный злодей сериала. Первоначально изображён как плоский, юмористический и надменный злодей, регулярно пытающийся похищать Принцессу Жвачку. Личность персонажа была впоследствии расширена, открывая его как добросердечного, но неправильно понятого старика с совершенно искажённым чувством морали и социального поведения, страдающим от одиночества и склероза. Его типичный поступок — похищение принцесс и принуждение их к женитьбе на себе, срывающееся каждый раз благодаря Финну и Джейку. Более поздние сезоны раскрывают его трагическую предысторию, показывая, что он когда-то был хорошим человеком по имени Саймон Петриков, который потерял свой разум, воспоминания и близких из-за волшебной Короны, дающей ему его ледяные силы и поддерживающей в нём жизнь уже сотни лет.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Финн">Финн парнишка</strong> — герой мультфильма «Время приключений». Маленьким он бродил по лесу, где его подобрали псы Джошуа и Маргарет, отец и мать песиков Джейка и Джермейна. Финн ничего не знал о своих родителях людях и был единственным человеком среди разнообразных существ на земле УУУ. 
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Хансон Абадир">Хансон Абадир</strong> — демон, правитель Ночесферы.
        </div>  
    </div>
    <div class="row rowblack"> <div class="col-12">
            <h3 id="Лич">Артефакты и понятия</h3>
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Грибная бомба">Мутагенная бомба или "Грибная" бомба</strong> — авиационный боеприпас, поставивший точку в развитии человеческой цивилизации. Причина сильнейших разрушений (в определённой области), появления Лича и вязких монстров.
        </div>
        <div class="col-12 bordered gy-4">
            <strong id="Мультивселенная">Мультивселенная</strong> - набор множества различных вселенных, или "измерений", частью которых являются Земля Ууу, остальная часть Земли и Марс. Концепция мультивселенной основана на популярной в реальном мире идее о том, что могут существовать различные параллельные вселенные с разными физическими законами, историями и / или измерениями.
        </div>
        <div class="col-12 bordered gy-4">
            <a name="Энхиридион"><strong>Энхиридион (греч. Справочник)</strong></a> — древняя книга с кодексом чести, руководством и иной полезной информацией для героев. Книга обладает огромной силой: с её помощью можно проделать дыры между измерениями Мультивселенной. 
        </div>
    </div>
</div>
{% endblock %}