{% extends "__layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row rowlight">
        <div class="col">
            <h1>Мультивселенная: за пределами Земель Ууу</h1>
        </div>
    </div>
    <div class="row rowblack">
        <div class="col-12">
            <h1>Небольшое введение</h1>
        </div>
        <div class="col-12">
            <p>Время приключений – это не только анимация с веселыми приключениями главных героев, Время приключений – это целая альтернативная вселенная, у которой есть свои законы мироздания и идеология. В просторах этой вселенной есть множество интересных и загадочных мест, интересным местом становится и сама Земля будущего: после войны от планеты уцелели лишь две трети, выжившие земляне мутировали или же спаслись в неизвестных землях, а в мир вернулась магия. Теперь на Земле сосредоточено большое количество «королевств» — отдельных земель, населённых различными расами. А вне Земли…Вне Земли существует еще больше измерений, в которых происходят необъяснимые даже для самих героев вещи.</p>
        </div>
        <div class="col">
            <div id="carousel2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carousel2" data-bs-slide-to="8" aria-label="Slide 9"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/static/static_index/место5.png" class="d-block w-100 imgcarousel"    alt="Города-руины">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    <img src="/static/static_index/место1.jpg" class="d-block w-100 imgcarousel" alt="Ледники">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место2.jpg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место3.jpg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место4.jpg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место6.png" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место7.jpeg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место8.jpg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                    <div class="carousel-item">
                    <img src="/static/static_index/место9.jpg" class="d-block w-100 imgcarousel" alt="Подземелье">
                    
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            &nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row rowlight">
        <div class="col text-center">
            <p></p>
            <p>Материал взят из источника: <a href="https://adventuretime.fandom.com/"><em>Adventure Time Wiki</a></em></p>
        </div>
    </div>
</div>







{% endblock %}
