{% extends "__layout.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row rowlight">
      <div class="col">
          <p><h1>Облачное королевство</h1></p>
          <p class="add"><img src="/static/static_other_dimensions/Party_laser.webp" alt="Бог тусовки в Облачном королевстве"></p>
          <p class="add"><em>Бог тусовок в Облачном королевстве</em></p>
          <p><strong>Облачное королевство</strong> - одно из королевств в Время Приключений. В нём обитают высокие, облачновидные люди, но неизвестно, кто правит им или правит вообще кто-то. В эпизоде <a href="https://adventuretime.ru/sezon-2/39-energichnoe-zhivotnoe.html"><em>"Энергичное животное"</em></a>, две Нимфы пригласили <a href="/Glossary#Джейк"><em>Джейка</em></a> на вечеринку в Облачное королевство, где его встретил <a href="/Glossary#Бог Тусовок"><em>Бог Тусовок</em></a>. Возможно, тусовки важная часть культуры Облачного королевства, как и для Империи Сластей. Также Облачное королевство появлялось в эпизодах <a href="https://adventuretime.ru/sezon-1/18-dva-moih-lyubimyh-cheloveka.html"><em>"Два моих любимых человека"</em></a>, <a href="https://adventuretime.ru/sezon-1/22-vyselennye.html"><em>"Выселенные!"</em></a>. В остальном пока что очень мало известно о Облачном народце.</p>
      </div>
  </div>

  <div class="row rowblack">
    <div class="col" >
        <p><h1>Темносфера</h1></p>
        <p><strong>Темносфера</strong> или <strong>Ночесфера</strong> (=демонический мир) — альтернативное измерение, о котором становится известно в эпизоде <a href="https://adventuretime.ru/sezon-2/20-prishelec-iz-temnosfery.html"><em>"Пришелец из Темносферы"</em></a>, где обитают <a href="/Glossary#Хансон Абадир"><em>Хансон Абадир</em></a> и другие демонические и бессмертные существа.</p>  
        <p>По внешнему виду Ночесфера напоминает ад. В дополнение к этому, в эпизоде <a href="/Glossary#Финн"><em>Финн</em></a> говорит <strong><em>"Увидимся в Ночесфере, больной урод"</em></strong>, что похоже на известную фразу из фильмов — "Увидимся в аду".</p>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="/static/static_other_dimensions/вид на дем мир.jpg" class="d-block w-100 imgcarousel" alt="Вид на Темносферу снаружи">
              <div class="carousel-caption d-none d-md-block">
                <p><font color="white">Темносфера снаружи</font></p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/static/static_other_dimensions/демонический мир.jpg" class="d-block w-100 imgcarousel" alt="Добро пожаловать в Темносферу">
              <div class="carousel-caption d-none d-md-block">
                <p><font color="white">Добро пожаловать в Темносферу</font></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/static_other_dimensions/хансон абадир.jpg" class="d-block w-100 imgcarousel" alt="Сам владыка Ада - Хансон Абадир">
              <div class="carousel-caption d-none d-md-block">
                <p>Сам владыка Ада - Хансон Абадир</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
      
<div class="row rowlight">
  <div class="col">
      <p><h1>Кристальное измерение</h1></p>
      <p><strong>Кристальное измерение</strong> — место, куда телепортировалась <a href="/Glossary#Деревяшка"><em>Деревяшка</em></a> в эпизоде <a href="https://adventuretime.ru/sezon-1/13-derevyashka.html"><em>"Деревяшка"</em></a>, когда укусила Кристальное яблоко. Это яблоко охранялось Кристальными стражами, что значит, что яблоко было очень важным для Кристального Измерения. </p>
      <p class="add"><img src="/static/static_other_dimensions/what.jpg" width="500" height="300" alt="Кристальное измерение"></p>
      <p class="add"><em>Кристальное измерение</em></p>
      <p>В первую очередь оно <strong>заполнено розовыми кристаллами различных размеров</strong>, составляющими всю местность. Измерение оставалось неназванным до эпизода <a href="https://adventuretime.ru/sezon-2/41-sila-kristallov.html"><em>"Сила кристаллов"</em></a>. В этом эпизоде показано, что измерение населено исключительно <strong>Кристальными стражами, ливнерогами и собаками</strong>.</p>
      <p>Неизвестен какой-то способ попасть в Кристальное измерение, не обладая специальными предметами, вроде <strong>Кристального яблока</strong>. <strong><a href="/Glossary#Леди Ливнерог"><em>Леди Ливнерог</em></a> способна открывать портал в Кристальное измерение</strong>, разрезая пространство своим рогом, но, вероятно, даже не <strong>все ливнероги</strong> умеют так делать. В эпизоде <a href="https://adventuretime.ru/sezon-2/41-sila-kristallov.html"><em>"Сила кристаллов"</em></a> <a href="/Glossary#Финн"><em>Финн</em></a> случайно нашёл кристалл, что телепортировал его в Кристальное измерение и обратно.</p>
      <p class="add"><img src="/static/static_other_dimensions/А вот и Леди Ливнерог.gif"  alt="А вот и живой пропуск в Крисальное измерение - Леди Ливнерог"></p>
     <p class="add"><em>А вот и живой пропуск в Крисальное измерение - Леди Ливнерог</em></p>
  </div>
</div>

<div class="row rowblack">
  <div class="col">
    <p><h1>Пупырчатое Королевство</h1></p>
    <p><strong>Пупырчатое Королевство</strong> — это облачное пространство, с городским пейзажем. Является домом для Пупырчатых людей. Там правят Король и Королева Пупырчатого Королевства (абсолютная монархия). <strong><a href="/Glossary#Принцесса Пупырчатого Королевства"><em>Принцесса Пупырчатого Королевства</em></a></strong> является их дочерью и наследником. </p>
    <p class="add"><img src="/static/static_other_dimensions/ППК и Король Пупырчатого Королевства.jpg" width="500" height="300" alt="ППК и Король Пупырчатого Королевства"></p>
    <p class="add"><em>ППК и Король Пупырчатого Королевства</em></p>
    <p><h3>Портал</h3></p>
    <p>Чтобы попасть в Пупырчатое Королевство, нужно пройти через портал-лягушку, сидящую на грибе в Лесу Сахарной Ваты около Империи Сластей, которая требует пароль. Технически сам портал находится у лягушки в глотке, то есть чтобы войти нужно быть "съеденным" лягушкой.</p>
    <p class="add"><img src="/static/static_other_dimensions/жаба-портал.png" width="500" height="300" alt="жаба-портал"></p>
    <p class="add"><em>Жаба-портал</em></p>
    <p><h3>География</h3></p>
    <ul>
        <li>Ландшафт Королевства обширный и бугристый, состоит из островов, похожих на облака цвета от розового, до фиолетового и синего. </li>
        <li>Повсюду растут вязы; вполне возможно, что это единственный вид растительности в Путырчатом королевстве.</li>
        <li>Большинство зданий находятся на отдельных островах, которые напоминают плавающие облака. Пупырчатым людям нужны машины, чтобы летать между ними, иначе они упадут в <strong>Бугристую Бездну (Бесконечную Бездну)</strong>.</li>
        <li>У дома Брэда, есть водопад, текущий прямо из дома, что доказывает,что в Пупырчатом Королевстве есть вода. Она течет вниз, в Бездну, значит, здесь есть сила тяжести (о чем свидетельствует также боязнь упасть в нее).</li>
    </ul>
    <p class="add"><img src="/static/static_other_dimensions/Бугристая Бездна.jpg" width="500" height="300" alt="Бугристая Бездна"></p>
    <p class="add"><em><strong>Бугристая Бездна. Бугристая Бездна</strong> - бездонное дно Пупырчатого Королевства представленное в "Неладно что-то в Пупырчатом Королевстве". Жители Пупырчатого Королевства вынуждены передвигаться на машинах, чтобы не упасть в Бугристую Бездну (не важно пупырчатый или не-пупырчатый), так как они могут только невысоко парить над землей. </em></p>
    <p><h3>Культура</h3></p>
    <p>Поскольку родители ППК шокированы тем, как их дочь использует слово <strong>"бугор"</strong>, скорее всего оно считается неприличным. Жителей Пупырчатого Королевства в какой-то степени можно назвать расистами, они не любят посторонних, и называют их <strong>"не пупырками"</strong>, хотя все же среди них встречаются <strong>"подражатели гладкокожим"</strong>: позеры Гласс, Ленни и Монти, которые застряли на Холме Тусовок. Они используют Антидот от пупырчатости, чтобы временно стать гладкими. Также каждую неделю в Пупырчатом королевстве устраивают <strong> Предвыпускной бал в здании Школы Пупырчатого Королевства</strong>.</p>
    <p class="add"><img src="/static/static_other_dimensions/Пупырчатые люди или Пупырки.jpg" width="500" height="300" alt="Пупырчатые люди или Пупырки"></p>
    <p class="add"><em><strong>Пупырчатые люди или Пупырки</strong></em></p>
    
    <p class="add"><img src="/static/static_other_dimensions/Пупырчатая школа.png" width="500" height="300" alt="Пупырчатая школа"></p>
    <p class="add"><em><strong>Школа Пупырчатого Королевства. Школа Пупырчатого Королевства</strong> - впервые появляется в серии "Неладно что-то в Пупырчатом Королевстве". Она находится чуть ниже Холма Тусовок. Здесь каждую неделю происходит Предвыпускной бал, на него собираются все учащиеся Пупырчатого Королевства. </em></p>

    <p class="add"><img src="/static/static_other_dimensions/холм тусовок.jpg" width="500" height="300" alt="холм тусовок"></p>
    <p class="add"><em><strong>Холм Тусовок. Холм Тусовок</strong> - это утёс, к которому ездят пупырчатые люди, чтобы встретиться. В данный момент на нём живут "позеры": Гласс, Ленни и Монти. Интересно, что утёс отличается от всего пространства своими необычными цветами: он окрашен в оттенки оранжевого и зеленого цвета, а деревья там ярко-зеленного цвета. </em></p>
  </div>
</div>

<div class="row rowlight">
  <div class="col">
   <p><h1>Мертвые миры</h1></p>
   <table align="center">
     <tbody >
     <tr>
     <td>Аудио загробный мир</td>
     <td><img src="/static/static_other_dimensions/Аудиомир.png" width="250" height="150" alt="Аудиомир"></td>
     <td>Мир наполненный нотами, фигурами и линиями. Выполнен в неоновых цветах.</td>
     </tr>
     <tr>
     <td>Молочный мир мертвых</td>
     <td><img src="/static/static_other_dimensions/Молочный мир.png" width="250" height="150" alt="Молочный мир"></td>
     <td>Город, все здания которого напоминают птиц, из чьих клювов вытекает белая жидкость. Все облака голубые с несколькими глазами.</td>
     </tr>
     <tr>
     <td>Храм поедания</td>
     <td><img src="/static/static_other_dimensions/Храм поедания.png" width="250" height="150" alt="Храм поедания"></td>
     <td>В этом мире обитают различные монстры, постоянно поедающие друг друга.</td>
     </tr>
     <tr>
     <td>1ый мир мертвых</td>
     <td><img src="/static/static_other_dimensions/9мир.png" width="250" height="150" alt="1ый мир мертвых"></td>
     <td>Мир подобный аду. Стены покрыты шипами и грустными лицами. В этом мире находится озеро наполненное вязкой жидкостью.</td>
     </tr>
     <tr>
     <td>27ой мир мертвых</td>
     <td><img src="/static/static_other_dimensions/27.png" width="250" height="400" alt="27ой мир мертвых"></td>
     <td>27-й Мертвый мир-это место, куда души отправляются, когда умирают, чтобы бесцельно удивляться.</td>
     </tr>
     <tr>
     <td>30ый мир мертвых</td>
     <td><img src="/static/static_other_dimensions/деревяшка.png" width="250" height="150" alt="Аудиомир"></td>
     <td>Мир подобный раю. В этом мире находиться храм, где проживали <a href="/Glossary#Деревяшка"><em>Деревяшка</em></a> и большинство её мужей.</td>
     </tr>
     <td>50ый мир мертвых</td>
     <td><img src="/static/static_other_dimensions/50.png" width="250" height="150" alt="50ый мир мертвых"></td>
     <td>Золотистый мир, полный света. Все его жители прибывают в нирване.Единственный известный мир мертвых в который не может попасть смерть или его помощники. По словам <a href="/Glossary#Джошуа"><em>Джошуа</em></a>, чтобы попасть туда нужно этого не хотеть.
     </td>
     </tr>
     <td>37ой мир мертвых</td>
     <td><img src="/static/static_other_dimensions/37.png" width="250" height="150" alt="37ой мир мертвых"></td>
     <td>Серый мир в котором обитают существа похожие на скелетов с крыльями и длинными ногами.</td>
     </tr>
     <td>45ый мир мертвых</td>
     <td><img src="/static/static_other_dimensions/45.png" width="250" height="150" alt="45ый мир мертвых"></td>
     <td>Мир представляет из себя космическое пространство. Он наполненный лучами света. В этом же мире находится дом <a href="/Glossary#Джошуа"><em>Джошуа</em></a> и <a href="/Glossary#Маргарет"><em>Маргарет</em></a>.</td>
     </tr>
     </tbody>
     </table>
  </div>
 </div>
</div>   
{% endblock %}