{% extends "__layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row rowlight">
        <div class="col">
            <p><h1>Немного истории</h1></p>
            <p>Время приключений - это не только истории о веселых приключениях главных героев, порой сериал затрагивает тяжелые и глубокие темы, которые находят отражение в судьбе самих персонажей. В ходе повествования сериала можно проследить целую цепь взаимосвязанных событий, и среди них есть настолько важные и трагичные эпизоды, что они оказывают ключевое влияние на развитие истории планеты и вселенной в целом.</p>
            <p class="add"><img src="/static/static_Some_history/грусть.gif"  alt="Рисунок"></p>
            <p class="add"><em>Есть над чем задуматься...</em></p>
        </div>
    </div>
    
    <div class="row rowblack">
        <div class="col-12 text-center">
            <h1>Начало Мультивселенной</h1>
            <h3>~13.8 млрд л. до ВВГ/до н.э.</h3>
        </div>
        <div class="col-4  bordered add offset-1">
            <p><img src="/static/static_Some_history/Оргалорг.webp" style="border-radius: 1rem;" width="350" height="200" alt="Оргалорг"></p>
            <p class="add"><em>Оргалорг</em></p>
            <p><img src="/static/static_Some_history/Лич.gif" style="border-radius: 1rem;" width="350" height="200" alt="Лич"></p>
            <p class="add"><em>Лич</em></p>
        </div>
        <div class="col-6 bordered ">
            <p>В самом начале реальность существует как хаотическое море монстров. В этой извивающейся массе обитают такие существа, как <strong><a href="/Glossary#Оргалорг"><em>Оргалорг</em></a> и <a href="/Glossary#Лич"><em>Лич</em></a></strong>. По непостижимой случайности монстры в конце концов приходят к общему согласию относительно состояния реальности, и это согласие становится <strong>Мультивселенной</strong>. Согласно древнему фолианту под названием <strong><a href="/Glossary#Энхиридион"><em>Энхиридион</em></a></strong>, Мультивселенная на самом деле не материальна. 
            <p><strong><a href="/Glossary#Мультивселенная"><em>Мультивселенная</em></a></strong> – это внезапно возникший продукт сознания. Тем самым сознание не является внезапно возникшим продуктом Мультивселенной. Каждое живое существо, живущее в Мультивселенной, парадоксальным образом поддерживает своё существование, ощущая его, и это также означает, что каждое живое существо существует за пределами материи, известной как их душа. </p></p>
            <p>Кроме этого, происхождение Мультивселенной в значительной степени неизвестно. Никто не знает, откуда появились монстры и какова истинная природа реальности. <strong>Всё, что мы знаем о мире до бытия, происходит от этого единственного упоминания Личем</strong>.</p>
        </div>
    </div>

    <div class="row rowlight">
        <div class="col-12 text-center">
            <h1>Корона Вечнозелёного и Зелёная Комета-Катализатор</h1>
            <h3>~65 млн л. до ВВГ/до н.э.</h3>
        </div>
        <div class="col-4 bordered add offset-1">
            <p><img src="/static/static_Some_history/зеленая комета.webp" style="border-radius: 1rem;" width="350" height="200" alt="Зелёная Комета-Катализатор"></p>
            <p class="add"><em>Зелёная Комета-Катализатор</em></p>
            <p><img src="/static/static_Some_history/элементаль и вечнозеленый.webp" style="border-radius: 1rem;" width="350" height="200" alt="Элементаль льда - вечнозеленый.webp"></p>
            <p class="add"><em>Элементаль льда - вечнозеленый</em></p>
        </div>
        <div class="col-6 bordered">
            <p>Во времена динозавров <strong>четырьмя Элементалями</strong> были <strong>Торопыга Вечнозелёный (лёд), Балтус (огонь), Говорун (конфеты) и Болотистый Ди (слизь)</strong>. Каждый из них правит своим элементальным царством.</p>
            <p>На Землю направляется <strong>Зелёная Комета-Катализатор</strong>, которая оказывается намного мощнее тех, что были до неё. Она несёт в себе столько энергии, что может уничтожить большую часть жизни на планете, поэтому Элементали ищут способ остановить её.</p>
            <p>Но в результате <strong>Зелёная Комета-Катализатор убивает четырёх Элементалей</strong>, и, вероятно, это событие станет причиной вымирания динозавров.</p>
            <p>Вполне вероятно, что Источником Перемен Зелёной Кометы является <a href="/Glossary#Лич"><em>Лич</em></a>, воплощение зла, чьё единственное желание – <strong>уничтожить всё живое</strong>. Он утверждает, что является <strong>«последним учёным ГОЛБа»</strong>, хотя точный смысл этой фразы неизвестен. Поскольку <a href="/Glossary#Мультивселенная"><em>Мультивселенная</em></a> поддерживается сознательными существами внутри неё, конец жизни будет означать конец Мультивселенной, и <strong>реальность вернётся к своему первоначальному состоянию хаоса и монстров</strong>. Это, вероятно, конечная цель Лича. <strong>Лич дремлет тысячелетиями, ожидая подходящей возможности восстать к власти.</strong></p>
        </div>
        <div class="col offset-1"></div>
    </div>

    <div class="row rowblack">
        <div class="col-12 text-center">
            <h1>Первое Пришествие ГОЛБа</h1>
            <h3>XXXX г. до ВВГ/до н.э.</h3>
        </div>
        <div class="col-4  bordered add offset-1">
            <p><img src="/static/static_Some_history/марс.webp" style="border-radius: 1rem;" width="350" height="200" alt="Марс"></p>
            <p class="add"><em>Марс</em></p>
            <p><img src="/static/static_Some_history/волшебный чел и финн.jpg" style="border-radius: 1rem;" width="350" height="200" alt="Волшебный Чел и Финн"></p>
            <p class="add"><em>Волшебный Чел и Финн</em></p>
            <p><img src="/static/static_Some_history/голб.jpg" style="border-radius: 1rem;" width="350" height="200" alt="ГОЛБ"></p>
            <p class="add"><em>ГОЛБ</em></p>
        </div>
        <div class="col-6 bordered ">
            <p>Земля – не единственное место в Солнечной Системе, где есть жизнь. Давным-давно на Марсе возникает самопровозглашенное утопическое общество, состоящее из зеленокожей Марсианской расы. Их король – <strong><a href="/Glossary#Аврaaм Линкольн"><em>Авраам Линкольн</em></a></strong>, человек из будущего, который, по-видимому, каким-то образом перенёсся назад во времени, чтобы стать <strong>правителем Марса</strong>. </p>
            <p>Защитником Линкольна является <strong><a href="/Glossary#Гроб Гоб Глоб Грод"><em>четырёхликий Гроб Гоб Глоб Грод</em></a></strong>, который позже вплетён в религиозные верования жителей Земли. У <strong>Гроб Гоб Глоб Грода есть брат по имени <a href="/Glossary#Волшебный чел"><em>Волшебный Чел</em></a>, а у Волшебного Чела есть жена по имени <a href="/Glossary#Марглс"><em>Марглс</em></a></strong>.</p>
            <p><strong>Человек-робототехник из будущего по имени <a href="/Glossary#Мозеф Мастро Джованни"><em>Мозеф Мастро Джованни</em></a></strong> участвует в проектировании Марсианской колонии, а <strong>человек-волшебник <a href="/Glossary#Бетти Гроф"><em>Бетти Гроф</em></a></strong> утверждает, что шлем Глоба будет реагировать на её «древнюю человеческую ДНК», что ещё больше <strong>указывает на анахроническую связь между людьми и Марсианами.</strong></p>
            <p><strong>Марс был атакован <a href="/Glossary#ГОЛБ"><em>ГОЛБом</em></a></strong>, древним космическим существом, воплощающим хаос, во время события, известного как Первое Пришествие ГОЛБа. Существо поглощает Марглс, жену брата Глоба – Волшебного Чела, и полностью удаляет её из существования. </p>
            <p>Чтобы предотвратить второе пришествие ГОЛБа, Волшебный Чел строит защитную систему, называемую <strong>Магическим Авто-Реактивным Генератором Лазерного Сопротивления (М.А.Р.Г.Л.С.)</strong> по образу и подобию своей покойной жены, и планирует <strong>установить её на вершине самой высокой горы на Марсе, Горе Олимп</strong>.</p>
        </div>
        <div class="col offset-1"></div>
    </div>

    <div class="row rowlight">
        <div class="col-12 text-center">
            <h1>Жёлтая Комета-Катализатор</h1>
            <h3>XXXX г. до ВВГ/до н.э.</h3>
        </div>
        <div class="col-4  bordered add offset-1">
            <p><img src="/static/static_Some_history/оргалорг и комета.png" style="border-radius: 1rem;" width="350" height="200" alt="Оргалорг пытается перехватить комету"></p>
            <p class="add"><em>Оргалорг пытается перехватить комету</em></p>
            <p><img src="/static/static_Some_history/гантер.gif" style="border-radius: 1rem;" width="350" height="200" alt="Гантер - новая форма Оргалорга"></p>
            <p class="add"><em>Гантер - новая форма Оргалорга</em></p>
        </div>
        <div class="col-6 bordered ">
            <p>По меньшей мере за тысячу лет до 0 г. после ВВГ <strong>Жёлтая Комета-Катализатор</strong> начинает приближаться к Земле. <strong><a href="/Glossary#Оргалорг"><em>Оргалорг</em></a></strong>, один из монстров из начала времён, планирует перехватить её и поглотить её силу. Авраам Линкольн посылает Глоба победить Оргалорга и положить конец царствованию его террора. </p>
            <p>«Негостеприимная планета», о которой говорят инопланетные старейшины, на самом деле Земля. <strong>Оргалорг сжимается в форму бессмертного пингвина</strong>, его воспоминания и личность подавляются в самых глубоких глубинах его ума. Он становится охотником-собирателем наряду с ранними людьми.</p>
            <p><strong>Тем временем Жёлтая Комета-Катализатор ударяется о Землю и оставляет за собой свой Источник Перемен</strong>. Учитывая цветовую гамму, вполне возможно, что этот Источник Перемен в конечном итоге перевоплотится в <a href="/Glossary#Джейк"><em>Джейка Пса</em></a>, хотя это и не было подтверждено.</p>
        </div>
        <div class="col offset-1"></div>
    </div>

    <div class="row rowblack">
        <div class="col-12 text-center">
            <h1>Ливнерожно-Собачьи Войны</h1>
            <h3>XXXX г. до ВВГ/до н.э.</h3>
        </div>
        <div class="col-4  bordered add offset-1">
            <p><img src="/static/static_Some_history/рисунок.webp" style="border-radius: 1rem;" width="350" height="200" alt="Рисунок"></p>
            <p class="add"><em>Набросок Джейка</em></p>
        </div>
        <div class="col-6 bordered ">
            <p>Измерение, называемое Кристальным Измерением, в основном населено двумя видами: говорящими <strong>по-корейски волшебными существами – радужными единорогами, известными как «ливнероги», и расой разумных говорящих собак</strong>. По неизвестным причинам эти два вида становятся врагами друг друга, что в конечном итоге приводит к вспышке <strong>тысячелетних Ливнерожно-Собачьих войн</strong>. Мало что известно о том, как окончились войны и кто победил, хотя, похоже, одна или обе стороны участвуют в воздушных боях с летающими тарелками. </p>
        </div>
        <div class="col offset-1"></div>
    </div>

    <div class="row rowlight">
        <div class="col-12 text-center">
            <h1 id="Великaя Войнa Грибов">Великая Война Грибов и Синяя Комета-Катализатор</h1>
            <h3>0 г. после ВВГ (2010 г. н.э.)</h3>
        </div>
        <div class="col-4  bordered add offset-1">
            <p><img src="/static/static_Some_history/Грибная бомба и пришествие Лича.webp" style="border-radius: 1rem;" width="350" height="200" alt="Грибная бомба и пришествие Лича"></p>
            <p class="add"><em>Грибная бомба и пришествие Лича</em></p>
            <p><img src="/static/static_Some_history/Последствия Грибной войны.jpg" style="border-radius: 1rem;" width="350" height="200" alt="Последствия Грибной войны"></p>
            <p class="add"><em>Последствия Грибной войны</em></p>
        </div>
        <div class="col-6 bordered ">
            <p>После быстрой эскалации <strong>мир разражается глобальной войной</strong>. Опознавательные знаки ВВС США видны на разбившемся бомбардировщике, что говорит о причастности Соединенных Штатов. Знак красной звезды также можно увидеть на покинутом военном транспорте. Обе стороны в полной мере используют ядерное оружие. </p>
            <p>Великая Война Грибов получила своё название от <strong>грибовидных облаков</strong>, созданных ядерными бомбами, которые превратили большую часть человеческой цивилизации в пепел. Безусловно, самая большая – это <strong><a href="/Glossary#Грибная бомба"><em>«Грибная бомба»</em></a></strong>, которая питается чем-то ещё, кроме своей ядерной полезной нагрузки. Она значительно увеличивает эластичность Земли, <strong>возвращая магию обратно в мир</strong>. Вполне возможно, что всё это организовано <strong>Личом</strong>, поскольку бомба освобождает его дух и позволяет ему пробудиться. Во время войны огромный кусок земли отрывается от её поверхности, <strong>оставляя кратер размером с Луну</strong>.</p>
            <p><strong>Каким образом образовался кратер, пока не установлено.</strong> Наиболее очевидным ответом, по-видимому, является <strong>Грибная бомба</strong>, но когда нам показывают её взрыв в эпизодах <a href="https://adventuretime.ru/sezon-5/97-finn-parnishka.html"><em>Финн Парнишка</em></a> и <a href="https://adventuretime.ru/sezon-9/843-skyhooks-elements-part-1.html"><em>Элементальная угроза</em></a>, она далеко не так разрушительна. Альтернативные теории предполагают, что он был сформирован <strong>Голубой Кометой-Катализатором или комбинацией многих других ядерных вооружений человечества.</strong></p>
        </div>
        <div class="col offset-1"></div>
    </div>
</div>

{% endblock %}